.price {
    color: rgb(0, 118, 0);
}

.add-button {
    border: none;
    width: 110px;
    height: 30px;
    font-size: 13px;
    border-radius: 15px;
    margin-right: 8px;
    cursor: pointer;
    background-color: rgb(255, 216, 20);
}

.add-button:hover {
    background-color: rgb(247, 202, 0);
}

.add-button:active {
    opacity: 0.5;
}


.buy-button {
    border: none;
    width: 110px;
    height: 30px;
    font-size: 13px;
    border-radius: 15px;
    margin-right: 8px;
    cursor: pointer;
    background-color: rgb(255, 164,28);
}

.buy-button:hover {
    background-color: rgb(250, 137, 0);
}

.buy-button:active {
    opacity: 0.5;
}

.amazon-link {
    color: rgb(0, 113, 133);
}

.amazon-link:hover {
    color: rgb(199, 81, 31);
}
